<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @categoria_norma.descripcion %>
</p>

<%= link_to 'Edit', edit_categoria_norma_path(@categoria_norma) %> |
<%= link_to 'Back', categoria_normas_path %>
